@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .todo-card {
    @apply relative w-full rounded border border-solid border-gray-200 bg-white font-thin shadow-card-outer
    before:absolute before:inset-0 before:-z-[1] before:translate-y-1.5 before:scale-x-[0.99] before:rounded
    before:border before:border-solid before:border-gray-200 before:bg-white before:shadow-sm after:absolute
    after:inset-0 after:-z-[2] after:translate-y-3 after:scale-x-[0.98] after:rounded after:border
    after:border-solid after:border-gray-200 after:bg-white after:shadow-sm;
  }

  .todo {
    @apply relative flex items-center border-b border-b-gray-100 pl-2 tracking-tight;
  }

  .toggle-input-off {
    @apply bg-[url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20%20style%3D%22opacity%3A%200.2%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E')];
  }

  .toggle-input-on {
    @apply bg-[url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E')] text-[#d9d9d9];
  }
}
