@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .todo-card {
    @apply relative w-full rounded border border-solid border-gray-200 bg-white font-thin shadow-card-outer
    before:absolute before:inset-0 before:-z-[1] before:translate-y-1.5 before:scale-x-[0.99] before:rounded
    before:border before:border-solid before:border-gray-200 before:bg-white before:shadow-sm after:absolute
    after:inset-0 after:-z-[2] after:translate-y-3 after:scale-x-[0.98] after:rounded after:border
    after:border-solid after:border-gray-200 after:bg-white after:shadow-sm;
  }

  .todo {
    @apply relative flex items-center border-b border-b-gray-100 pl-3 tracking-tight;
  }
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
